* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  width: 400px;
  height: 300px;
  border: 1px solid #eee;
  margin: 40px auto;
  padding: 25px;
}

.question,
.result {
  margin: 0 0 10px 0;
}

.result {
  text-align: center;
}

.radio-group {
  margin: 0 20px;
}

.radio-item {
  margin: 10px 0;
}

.radio-item label {
  margin: 0 0 0 15px;
}

.button-group {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.button {
  display: block;
  margin: 0;
  width: 80px;
}
