* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header menu */
#main-menu-container {
  background-color: #591426;
}

#main-menu-container ul {
  display: flex;
  justify-content: center;
}

#main-menu-container a {
  display: inline-block;
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
}

#main-menu-container a:hover {
  background-color: #380a16;
}

#main-menu-container li {
  list-style-type: none;
}

/* Main body */
.section-header {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 20px 0;
}

/* Common */
.centered-paragraph {
  text-align: center;
  margin: 15px 0;
}
